{% extends "network/layout.html" %}

{% block body %}

    <h1 ><i class="glyphicon glyphicon-bullhorn">  </i> All Postes</h1>
    {% if user.is_authenticated %}
        <div class="my-3 mx-5 newPost">
            <h2>New Post</h2>
            <form action="{% url 'new_post' %} " method="post">
                {% csrf_token %}
                <textarea  name="content" rows="5" cols="80" ></textarea>
                <br/>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {%endif%}

    <div class="allPosts">
      {% for post in page_obj %}
        <div class=" post">
            <h5 class='username'><a href="{% url 'profile' user_id=post.user.id %}"><i class="glyphicon glyphicon-user"></i>{{ post.user }}</a></h5>
            <h6 class='content' id="content_{{post.id}}"><i class="glyphicon glyphicon-envelope"></i> {{ post.content }}</h6>
            <p class='date'><i class="glyphicon glyphicon-time"></i> {{ post.date }}</p>
            {% if user.is_authenticated %}
            {% if user == post.user %}
                <div class="d-flex justify-content-aroud">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modal_edit_post_{{ post.id }}">Edit</button>
                </div>

                <div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_{{ post.id }}_label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Edit Post</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <textarea rows="5" id="textarea_{{ post.id }}" class="form-control" name="content">{{ post.content }}</textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" onclick="submitHandler({{ post.id }})">Save changes</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
            {% else %}
          
              {% if post.id in likes_by_user %}
              <button class="btn btn-info fa fa-thumbs-down col-1" onclick="likeHandler({{ post.id }}, {{ likes_by_user }})" id="{{ post.id }}"></button>
              <!-- <p>{{ likes_by_user.count }}</p> -->
              {% else %}
              <button class="btn btn-info fa fa-thumbs-up col-1" onclick="likeHandler({{ post.id }}, {{ likes_by_user }})" id="{{ post.id }}"></button>
              <!-- <p>{{ likes_by_user.count }}</p> -->
              {% endif %}
              
              {% endif %}
        {% endif %}
    </div>
{% endfor %}
</div>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
              {% endif %}
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
    </div>

{% endblock %}